html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    font-family: "system-ui";
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(55,55,255,1) 0%, rgba(0,212,255,1) 50%, rgba(55,55,255,1) 100%);
    flex-direction: column;
    height: 100vh;
}
#galleta{
  display: flex;
  justify-content: center;
  align-items: center;
}
#bgRayos{
  position: fixed;
  z-index: -2;
  top: -43%;
  left: 1%;
  rotate: 45deg unset;
}
#bgRayos > img:nth-child(1){
  width: 100%;
  animation: rotate 17s linear infinite;
}
#bgRayos > img:nth-child(2){
  width: 100%;
  animation: rotate 10s linear infinite;
}
#bgRayos > img:nth-child(3){
  width: 100%;
  animation: rotate 13s linear infinite;
}

h1{
    font-weight: bolder;
}

#container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.flash{
  position: fixed;
  z-index: 99;
  width: 100%;
  height: 100vh;
  background-color: white;
  animation: flash .5s ease-in-out alternate;
  pointer-events: none
}

img{
    max-width: 100%;
    width: 80%;
    animation: zoom-in-zoom-out 3s ease-in-out infinite;
    filter: drop-shadow(0 0 20px white);
    pointer-events: none;
    user-select: none;       /* Desactiva la selección de la imagen */
    -webkit-user-drag: none;  /* Evita que la imagen sea arrastrable en navegadores WebKit */
    -moz-user-select: none;   /* Firefox */
    -webkit-user-select: none; /* Safari y Chrome */
    -ms-user-select: none;    /* Internet Explorer/Edge */
}

.shake{
    animation: shake .4s ease-in-out alternate;
}

.pump1{
  animation: pump1 .2s ease-in-out alternate;
}

.pump2{
  animation: pump2 .2s ease-in-out alternate;
}

#galletaClick{
    position: fixed;
    z-index: 5;
}

#galletaClick > div > p{
  position: fixed;
  -webkit-background-clip: text;
  text-shadow: 5px 0 black, -5px 0 black, 0 5px black, 0 -5px black,
              4px 4px black, -4px -4px black, 4px -4px black, -4px 4px black;
  font-weight: bolder;
  color: white;
  font-size: 5rem;
  animation: shake 1s ease-in-out alternate;
  animation: pos 6s ease;
  pointer-events: none;
  user-select: none;       /* Desactiva la selección de la imagen */
    -webkit-user-drag: none;  /* Evita que la imagen sea arrastrable en navegadores WebKit */
    -moz-user-select: none;   /* Firefox */
    -webkit-user-select: none; /* Safari y Chrome */
    -ms-user-select: none;    /* Internet Explorer/Edge */
}

/* ANIMACIONES */

@keyframes zoom-in-zoom-out {
    0% {
      transform: scale(1, 1);
    }
    50% {
      transform: scale(1.2, 1.2);
    }
    100% {
      transform: scale(1, 1);
    }
  }

  @keyframes rotate {
    0% {
      transform: rotateZ(0deg);
    }
    50% {
      transform: rotateZ(180deg);
    }
    100% {
      transform: rotateZ(360deg);
    }
  }

@keyframes shake {
    0% {transform: translate(1px, -2px) rotate(-3deg); }
  10% {transform: translate(1px, 1px) rotate(0deg); }
  20% { transform: translate(-3px, 0px) rotate(3deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(3deg); }
  50% { transform: translate(-1px, 2px) rotate(-3deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-3deg); }
  80% { transform: translate(-1px, -1px) rotate(3deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(-1px, -2px) rotate(-3deg); }
}

@keyframes flash {
  0% {
    opacity: 60%;
  }
  100% {
    opacity: 0%;
  }
}

@keyframes pos {
  0% {
    opacity: 1;
    transform: translate(-50%, 0);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -1000px);
  }
}

@keyframes pump1 {
  0%{
    scale: 1.5;
    transform: rotateZ(45deg);
  }

  100%{
    scale: 1;
    transform: rotateZ(0deg);
  }
}

@keyframes pump2 {
  0%{
    scale: 1.5;
    transform: rotateZ(-45deg);
  }

  100%{
    scale: 1;
    transform: rotateZ(0deg);
  }
}